body {
    margin: 0;
    padding: 20px;
    background-color: tan;
}

h1,
p {
    text-align: center;
    color: red;
}

h1 {
    font-size: 32px;
}

@media only screen and (min-width: 900px) {
    h1 {
        color: green;
        font-size: 20px;
    }
}

a {
    color: aqua;
    display: block;
    background-color: green;
    text-decoration: none;
}

a:hover {
    background-color: blueviolet;
    color: orange;
}

nav ul {
    display: flex;
}